/* appbar.css */

.app-bar {
    background-color: #007bff;
    color: #fff;
    padding: 2px 0;
    position: relative;
  }
  
  .app-bar-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile-icon {
    position: relative;
    cursor: pointer;
  }
  
  .profile-image {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px; /* Increase padding for a larger dropdown */
    min-width: 150px; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    z-index: 100; /* Ensure the dropdown is above other elements */
  }
  
  /* Adjust styling for dropdown content */
  .profile-dropdown p {
    margin: 0;
    font-size: 16px; /* Increase font size for readability */
    color: #333;
    margin-bottom: 10px; /* Add some spacing between elements */
  }
  
  .profile-dropdown button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px; /* Increase font size for readability */
    text-decoration: none; /* Remove underlines */
  }
  
  .profile-dropdown button:hover {
    text-decoration: underline;
  }
  
  /* Style the home button */
.home-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  
  .home-icon {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    margin-right: 10px;
  }