/* NavBar.css */
.container {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  border-bottom: 3px solid #007bff;
  /* Add a bottom border for emphasis */
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  font-size: 18px;
  margin-left: 20px;
}

/* Style the FontAwesome icon */
.nav-link i {
  margin-right: 5px;
}

/* Customize the hover effect */
.nav-link:hover {
  color: #5500ff;
}

/* Add more custom styles as needed */